<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Image Detector</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">
        <h1>AI Image Detector</h1>

        <div class="upload-box">
            <input type="file" id="imageInput" accept="image/*">
            <img id="preview" src="" alt="">
        </div>

        <button onclick="uploadImage()">Detect Image</button>

        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>